<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiddy_kids">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiddy_Kids">
        <activity
            android:name=".CartSummary"
            android:exported="false" />
        <activity
            android:name=".CLothesInfo"
            android:exported="false" />
        <activity
            android:name=".Clothesfb"
            android:exported="false" />
        <activity
            android:name=".Package1"
            android:exported="false" />
        <activity
            android:name=".packages"
            android:exported="false" />
        <activity
            android:name=".sixgirl"
            android:exported="false" />
        <activity
            android:name=".fivegirl"
            android:exported="false" />
        <activity
            android:name=".fourgirl"
            android:exported="false" />
        <activity
            android:name=".threegirl"
            android:exported="false" />
        <activity
            android:name=".twogirl"
            android:exported="false" />
        <activity
            android:name=".onegirl"
            android:exported="false" />
        <activity
            android:name=".FirstB"
            android:exported="false" />
        <activity
            android:name=".sixyear"
            android:exported="false" />
        <activity
            android:name=".Fiveyear"
            android:exported="false" />
        <activity
            android:name=".Fouryear"
            android:exported="false" />
        <activity
            android:name=".Threeyear"
            android:exported="false" />
        <activity
            android:name=".Girls"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Boy"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:authorities="com.example.kiddy_kids"
            android:name=".Database.OrderProvider"
            android:exported="true"/>
    </application>

</manifest>